html {
    font-family: Arial;
    font-size: 12px;
    color: #000;
    background: #fff;
}

body {
    margin: 0;
}

a {
    color: #333;
}

a:hover {
    color: #000;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding: 10px;
    font-weight: normal;
    font-family: verdana;
    background: #eeeeee;
    color: #343434;
    border: 2px solid #ddd;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 15px;
    color: #343434;
}

form {
    padding: 10px;
    border: 1px dashed #bbb;
}

input {
    padding: 3px;
    background: #fff;
    border: 1px solid #ddd;
    color: #343434;
}

label {
    width: 100px;
    float: left;
    margin: 5px;
}

#wrap {
    margin: 0 auto;
    background: #fff;
    padding: 10px;
}

#nav {
    padding: 5px 5px 8px 10px;
    background: #ddd;
}

#nav a {
    margin-right: 5px;
    padding: 7px;
    text-decoration: none;
}

#nav a:hover {
    background: #343434;
    color: #fff;
}

table {
    width: 100%;
    background:#ddd;
    margin: 0 0 10px 0;
    border-spacing: 1px;
}

td {
    padding: 8px;
    font-size: 13px;
    background: #eee;
}

#forumNav {
    background: #eee;
    border: 1px dashed #ddd;
    padding: 5px;
    margin: 10px 0 10px 0;
}

.tableKey td {
    background: #ddd;
    font-size: 12px;
    padding: 5px 5px 5px 10px;
}

.catName td, .topicsKey td, .postKey td, .appTitle {
    background: #7D7D7D;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border: 1px soild #9C9C9C;
}

#footer {
    text-align: center;
    font-size: 12px;
    padding: 0 10px 10px 10px;
}

#topicStats, #currentCategory {
    padding: 0 10px 10px 10px;
    font-size: 11px;
    color: #666;
}

.miniProfile {
    height: 50px;
    vertical-align: top;
    width: 170px;
    text-align: center;
}

.postContent {
    vertical-align: top;
}

.postUsername {
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
}

.error {
    color: #fff;
    padding: 8px;
    background: #F53131;
    border: 1px solid #CC0606;
    margin-bottom: 12px;
}

.submitButton:hover {
    cursor: pointer;
}

.postReply, .newTopic {
    float: right;
}

.button a {
    padding: 5px 7px 5px 7px;
    text-decoration: none;
    background: #eee;
    color: #555;
    font-weight: bold;
    border: 1px solid #ddd;
}

.button a:hover {
    color: #000;
    border: 1px solid #bbb;
}

#postContent {
    width: 75%;
    height: 200px;
    font-family: verdana;
    font-size: 12px;
    padding: 3px;
    background: #fff;
    border: 1px solid #ddd;
    color: #343434;
}

.pagination {
    font-size: 14px;
    
}

.forumsLastPost, .topicLastReply {
    vertical-align: top;
    font-size: 12px;
}

.topicsKey, .postsKey {
    width: 50px;
    text-align: center;
}

.forumTopicCount, .forumPostCount {
    text-align: center;
}

.lastPostTimestamp, .lastReplyTimestamp {
    color: #777;
    font-size: 11px;
}

.forumName {
    font-size: 15px;
}

.postUserInfo {
    font-size: 12px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #fff;
    text-align: left;
}

.postUserRank {
    font-size: 11px;
}

#statistics {
    font-size: 12px;
}

.postUserInfoLabel {
    font-weight: bold;
}

#themeChanger {
    text-align: right;
}

#themeChanger form{
    padding: 0;
    margin: 0;
    border: none;
}

#themeChanger label{
    padding: 6px;
    margin: 0;
    width: auto;
    float: none;
}